@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");
@import url('https://fonts.googleapis.com/css?family=Jua:400');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script:400');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon:400');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
@import url('https://fonts.googleapis.com/css?family=Sunflower:500');

/* 마이페이지 */
#reservationDIV {
	margin-bottom: 50px
}

.mypagetable {
	width: 94%;
	margin: 0 auto;
	text-align: center;
}

.mypagetable th {
	text-align: center;
}

.reservetable td:nth-child(4n) a {
	color: black;
	font-size: 12px;
	text-align: left;
}

.reservebox {
	color: white;
	width: 103px;
	display: inline-block;
	padding: 2px
}

.hossoon {
	background: #062ec1f7;
}

.hoswaiting {
	background: #1bb112bd
}

.hosfinish {
	background: #7d7d76d9
}

.hoscancel {
	background: #cc0000db
}

.charttable td:nth-child(3n) a {
	color: black;
	font-size: 12px;
	text-align: left;
}

.noLink {
	display: inline-block;
	width: 100%;
	line-height: 3em;
	vertical-align: middle;
	font-size: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum, Arial;
	color: #f56a6a;
	text-align: center;
	border-bottom: 2px solid #f56a6a;
	margin: 0 0 2em 0;
}

/* Starter CSS for Flyout Menu */
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position:relative;
  
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  width: 100%;
  
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
  padding:0;
}
#cssmenu > ul > li > a {
  padding: 10px 0px 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #f56a6a;
}
#cssmenu ul li:hover > a {
  color: #f56a6a;
}
#cssmenu > ul > li:hover {
  background: #FFDDD9;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}
.mypageMenu{
	
	border-top: 0 !important;
	padding-top:0 !important;
	margin-top:2%;
}

.mypageHeader{
	text-align:center;
	width: 100%;
	
	border-top: 0 !important;
	padding-top:0 !important;
	margin-top:0;
	}
#mypageHeaderdiv ul, #mypageHeaderdiv li, #mypageHeaderdiv ul a{
	 list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
   font-family: "Roboto Slab", serif;
   font-weight: 800;
  font-size: 110%;
  width: 100%;
  color: #848889;
  padding:0.5em 0;
}
#mypageHeaderdiv ul>li:nth-child(3){
	font-family:'Lato', sans-serif;
	font-size: 90%;
	font-weight:400;
	text-align:center;
}
.mypageBell{padding:5%}
.mypageSection{
	width:25%;
	border-top: 2px solid #faaeae;
	border-bottom: 2px solid #faaeae;
	height: 100%;
	padding:2%;
	float:left;
	background-color:#f5f6f7
	}
	
.mypageFooter{border-bottom:5px solid #f56a6a }
.mypageContent{	
border-top:0 !important;
float:left;	
padding:3%;
}
div.signoutpassck {
  border:1px solid #f5f6f7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 0.375em;
  padding:5%;
  line-height:2em;
}
.fa-frown-open, .fa-user-lock{font-size:5em;}
.mypageContent{position:relative; margin: 0; width:75%; height: 80% }
.sectionDisplay, .mypageContent{display:inline-block !important; }
.signoutmsg{font-size: 2em; padding:3%; margin:0%}
div.passck1, div.passck2{width: 50% !important; display: inline-block; text-align: center; 
margin:0 !important;height:100%; vertical-align: bottom;}
div.passck1{ padding:1% !important; background-color:#755656; color: white; 
}
.passck2{
 border-top:none !important;border-right:none !important;
  border-left:none !important; 
  border-radius: 0 !important;
  border-bottom: 0 !important;
  margin:0 !important; display:inline-block !important; width: 50% !important;
  height:100%
  }
  
#passckbox{border-bottom: 2px solid #755656 !important;
margin:0 auto; width:70%; 
}
.signoutsubbtn{
	width: 80% !important;margin: 5% auto;
}
.passckbtn_ {
  background: #F7B4B4;
  border-radius: 100px;
  padding: 10px 60px;
  color: #fff;
  text-decoration: none;

  margin: 0 1%;
  width:35%;
  height:5% !important;
 
}
.passckbtn_:active {
  background: #faaeae;
  color:white;
}
.passckbtn_ok { background: #D2D2D2; }
.passckbtn_ok:active { background: #b9b9b9; }
.modifyInput{border-top:0 !important; border-right: 0!important; border-left:0 !important;
border-bottom:2px solid #D2D2D2; border-radius:0 !important}
.modifybtn{margin:2% auto;}
button[name=modifySubmit], button[name=modifyReset]{width:48%}
#myInfo{border-bottom:2px solid #faaeae;  border-top: 2px solid #faaeae;
padding:4%; width:100% }
#myPassword{border-bottom: 2px solid #faaeae; border-top: 2px solid #faaeae; margin-top:5%; padding:4%;}
.mod{border-bottom: 5px double rgba(132, 136, 137,0.5); padding-bottom: 2%; font-family:sunflower;}
.mod_body{}
#myInfo, #myPassword{background-color:#f5f6f7;}
.mypageContent_mod{padding-top:0 !important}